.delLegForm {
    position: absolute;
    background: rgb(219, 218, 218);
    width: 300px;
    border: black 1px solid;
    border-radius: 5px;
    padding: 15px;
    z-index: 20;
    top: 50px;
    left: 405px;

}
.buttonsContainer {
    display: flex;
    justify-content: space-around;
}